.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.spanText {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.07em;
}

.inputForm {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 6px;
  color: rgb(0, 0, 67);
}

.formBtn {
  width: 150px;
  font-size: 16px;
  letter-spacing: 0.07em;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: blue;
  color: yellow;
}

.formBtn:hover {
  background-color: rgb(1, 1, 121);
}
