.wrap {
  width: 600px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: aliceblue;
}

.title {
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 67);
}

.titleContact {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 67);
}
